.notebook-root {
  width: var(--left-sidebar-width);
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
}

.add-notebook {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  border: 1px black dashed;
  height: 2em;
  cursor: pointer;
}
