.icon {
  cursor: pointer;
  user-select: none;
}

.editable-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  transition: 250ms;
  z-index: 0;
}

.editable-field.active {
  background-color: #00a6ff;
  transition: 250ms;
}

.editable-field:hover:not(.active, .text, .overlay, .title) {
  background-color: #a8ebff;
  transition: 250ms;
}

.content {
  color: #000;
  text-decoration: none;
  width: 200px;
  margin: 5px;
  font-size: 1.6rem;
  overflow-wrap: anywhere;
}

.content-intput {
  font-size: 1.6rem;
  width: 200px;
  resize: none;
  height: auto;
}

.editable-field.title {
  width: 100%;
  height: 4rem;
}

.editable-field.title .content,
.editable-field.title .content-intput {
  text-align: center;
  width: 100%;
}