#base {
  width: 100%;
  display: flex;
  
}

.left-sidebar-toggler {
  z-index: 0;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  user-select: none;
}

.left-sidebar {
  height: 100vh;
  flex-shrink: 0;
  width: calc(
    var(--left-sidebar-width) + 20px
  ); /* 20px: padding in NotebookBoard.css */
  background-color: #eee;
  transition: 250ms;
  overflow-x: hidden;
  box-shadow: 1px 1px 6px #ccc;
}

.left-sidebar.collapse {
  width: 0;
  transition: 250ms;
}

.right-sidebar-toggler {
  z-index: 0;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  user-select: none;
}

.right-sidebar {
  flex-shrink: 0;
  height: 100vh;
  width: var(--right-sidebar-width);
  background-color: #eee;
  transition: 250ms;
  overflow-x: hidden;
  box-shadow: -1px 1px 6px #ccc;
}

.right-sidebar.collapse {
  width: 0;
  transition: 250ms;
}

.main {
  width: 100%;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
